
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

*{
    margin: 0;
}
body{
    background-color: black;
    font-family: 'Poppins', sans-serif;   
}

.image-container{
    width: 60px;
    height: 60px;
    /* margin-top: 50px; */
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -31px;
}

.image-container img{
    width:  100%;
    height: 100%;
    border-radius: 50px;
}

.client-name{
    font-size: 21px;
    font-weight: bold;
}

.trans-description{
   font-size: 17px;
}

.bal-container{
    background-color: rgb(225, 152, 16);
    padding: 10px 20px;
}

.balance{
    font-size: 30px;
}


#trans-add-container{
    display: flex;
    justify-content: space-around;
    font-size: 18px;
    margin-top: 20px;
}

.transfer,.add{
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
}

.transfer{
    padding: 8px 10px;
}

.add{
    padding: 8px 30px;
}

canvas{
    max-width: 80%;
    max-height: 240px;  
}

.CHART{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: azure;
    margin:20px auto;
    border-radius: 15px;
}

#Buy-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: -2px;
}

#Buy{
    width: 90px;
    height: 80px;
    background-color:azure;
    border-radius: 10px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
