
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');


body{
    background-color: black;
    font-family: 'Poppins', sans-serif;   
}

.image-container{
    width: 60px;
    height: 60px;
    /* margin-top: 50px; */
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-container img{
    width: 100%;
    height: 100%;
    border-radius: 50px;
}

.client-name{
    font-size: 19px;
    font-weight: bold;
}

.trans-description{
   font-size: 17px;
   font-weight: bold;
}

.bal-container{
    background-color: rgb(225, 152, 16);
    height: 175px;
    width: 100%;
    margin: auto;
    text-wrap: wrap;
    overflow: hidden;
}

.balance{
    font-size: 40px;
}

#trans-add-container{
    display: flex;
    justify-content: space-around;
    font-size: 18px;
    margin-top: 20px;
}

.transfer-money,.add-money{
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
}

.transfer-money{
    padding: 8px 20px;
}

.add-money{
    padding: 8px 38px;
}

canvas{
    max-width: 80%;
    max-height: 300px;
    margin-top: 30px;
}

.CHART{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: azure;
    width: 87%;
    margin:20px  auto;
    border-radius: 15px;
}

#Buy-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 30px;
}

#Buy{
    width: 100px;
    height: 80px;
    background-color:azure;
    border-radius: 10px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}